<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля</title>
</head>
<body>
    <div>
        <p>Забыли пароль? Мы Вам отправим
        инструкцию для востановления пароля на вашу почту))
        </p>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{form.email.errors}}
                    <label for="id_email"> E-mail адрес</label>
                    {{form.email}}
                </div>
                <input type="submit" value="Сбросить пароль">
            </fieldset>
        </form>
    </div>
</body> 
</html>