<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/">Мини Магазин</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">О нас</a>
            </li>

            <li class="nav-item">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                        Избранное <span class="badge badge-secondary">{{ totail_items }}</span>
                        </a>
                    {% else %}
                         <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                            Избранное пусто
                    </a> 
                    {% endif %}
                {% endwith %}
              </li>
              <li class="nav-item">
               <a class="nav-link" href="{% url 'users:profile' %}">Профиль</a>
            </li><li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
            </li><li class="nav-item">
              <a class="nav-link" href="{% url 'password_reset' %}">Изменить пароль</a>
            </li>
          </ul>
        </div>
      </nav>